body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  background: rgb(224,224,224);
}

.container {
  height: 100vh;
  max-width: 100vh;
  width: 100%;
  position: relative;
  background: black;
  padding: 10px 20px 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-row-gap: 50px;
}  

.buttons button {
  height: 190px;
  weight: 190px;
  border: none;
  background: #2e2e2e;
  color: white;
  padding: 20px;
  border-radius: 50%;
  font-size: 44px;
  font-weight: bold;
  box-shadow: 1px 5px #242424;
}

.display {
  border: none;
  outline: none;
  pointer-events: none;
  width: 100%;
  height: 300px;
  border-radius: 12px;
  background: black;
  font-size: 120px;
  text-align: right;
  color: white;
  margin: 20px 0;
}


.buttons button:active {
  transform: scale(0.95);
  transition: 0.15s;
}

.buttons .operators {
  background: #ff7300;
  box-shadow: 1px 5px #542600;
}

.display1 {
  position: block;
  background-color: black;
  height: 300px;
  border: none;
}