body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  background: rgb(224,224,224);
}

.container {
  height: 103vh;
  max-width: 100vw;
  width: 100%;
  position: relative;
  background: black;
  padding: 2vw;
  border-radius: 3vw;
  box-shadow: 0 0.5vw 1vw rgba(0,0,0,0.05);
  box-sizing: border-box;
  
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4vw;
  padding-top: 10vw;
  box-sizing: border-box;
  
}

.backspace-container {
  height: 8vh;
  background-color: #121212;
  position: relative;
  border-bottom: 0.5vw solid #ffffff;
}

.backspace-button {
  position: absolute;
  height: 11vw;
  width: 11vw;
  top: 2vw;
  right: 5vw;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.backspace-button img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  pointer-events: none;
}

.buttons button {
  height: 18vw;
  width: 18vw;
  border: none;
  background: #2e2e2e;
  color: white;
  border-radius: 50%;
  font-size: 6vw;
  font-weight: bold;
  box-shadow: 0.2vw 0.6vw #242424;
}

.display {
  border: none;
  outline: none;
  pointer-events: none;
  width: 100%;
  height: 15vh;
  border-radius: 5vw;
  background: black;
  font-size: 8vw;
  text-align: right;
  color: white;
  margin: 4vw 0 -6vw;
  
}

.buttons button:active {
  transform: scale(0.95);
  transition: 0.15s;
}

.buttons .operators {
  background: #ff7300;
  box-shadow: 0.2vw 0.6vw #542600;
}

.display1 {
  display: block;
  height: 10vh;
  border: none;
  margin-bottom: -6vw;
  background: black;
}


.theme-bar {
  background-color: #121212;
  height: 10vh;
  width: 100%;
  border-radius: 3vw;
  position: relative;
  margin-bottom: -4vw;
  
}

.light-mode,
.dark-mode {
  position: absolute;
  height: 11vw;
  width: 11vw;
  top: 3.5vw;
  right: 4vw;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

body.light-theme .theme-bar {
  background-color: #eeeeee;
}

body.light-theme {
  background: rgb(255, 255, 255);
}

.light-mode, .dark-button {
  display: none;
}

body.light-theme .light-mode,
body.light-theme .dark-button {
  display: inline;
}

body.light-theme .dark-mode,
body.light-theme .light-button {
  display: none;
}

body.light-theme .container {
  background: #ffffff;
}

body.light-theme .buttons button {
  background: #e0e0e0;
  color: black;
  box-shadow: 0.2vw 0.6vw #eeeeee;
}

body.light-theme .buttons .operators {
  background-color: #aab5ff;
}

body.light-theme .display,
body.light-theme .display1 {
  background-color: #f4f4f4;
  color: black;
}

body.light-theme .backspace-container {
  background-color: #efefef;
  border-bottom-color: #000000;
}

body,
.container,
.display,
.display1,
.buttons button,
.theme-bar,
.backspace-container {
  transition: background-color 0.4s ease, color 0.4s ease;
}
